{% extends "base.html"%} {% block content %}
<div class="p-5 text-center bg-image rounded-3" style="
    background: url('https://dmarket.com/blog/best-dota2-wallpapers/dota2heroes1_hu5626a5530a4f166e3ee07641bbd434cd_487182_1920x1080_resize_q75_lanczos.jpg');
    background-size: 1600px
  ">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.65);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h2 class="mb-3">The top recommended heroes are:</h2>
        <br>
        <br>
        <h3>{{prediction_heroes}}</h3>
        <br>
        <br>
        <h2 class = "mb-3">The probability of your team winning based on the team composition is:</h2>
        <br>
        <br>
        <h3>{{prediction_wins}}%</h3>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
  {% endblock %}
</div>
